@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "baby";
  src: url("./fonts/baby.ttf") format("truetype");
}

/* Ensure links have pointer-events and proper cursor */
a {
    pointer-events: auto;
    cursor: pointer;
}

/* Set pointer cursor on hover and focus */
a:hover, a:focus {
    cursor: pointer;
    pointer-events: auto;
}

/* Raise z-index for the link in the footer paragraph */
.footer-paragraph a {
    position: relative;
    z-index: 15;
}

/* Limit custom cursor to specific elements */
body, div, p {
    cursor: var(--cursor);
}

.invisible-line {
    margin-top: 1.5em; /* Increase space above */
    margin-bottom: 1.5em; /* Increase space below */
    border: none; /* Removes any default border */
    border-top: 1px solid rgba(255, 255, 255, 0.5); /* Adds a thin, semi-transparent line */
}

.p {
    text-align: center; /* Centers the text inside <p> elements */
}

.image-cutoff-clip {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Full viewport height */
    object-fit: cover;
    clip-path: inset(0 0 -1.67% 0); /* Cuts off the last third from the bottom */
}

:root {
  --cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🖐️</text></svg>")
      16 0,
    auto; /*!emojicursor.app*/

  --cursorHover: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>👆</text></svg>")
      16 0,
    auto;
}

*::-webkit-scrollbar {
  width: 3px;
}

*::-webkit-scrollbar-track {
  background: #080710;
}

*::-webkit-scrollbar-thumb {
  background-color: #4f4f4f;
  border-radius: 10px;
}

.title-card {
  animation: titleEntrance 1.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards,
    floating 7s ease-in-out infinite 1.5s;
}

.background-heading {
  background-image: url('src/images/BannerBox.png'); /* Path to your image */
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  color: white; /* Ensures text is readable */
  padding: 20px; /* Adds some space around the text */
  text-align: center; /* Centers the text */
  font-size: 2rem; /* Adjust text size as needed */
}


.animate-floating {
  animation: floating 7s ease-in-out infinite;
}

.parallax {
  will-change: transform;
  transform-style: preserve-3d;
  backface-visibility: hidden;
}
html.lenis {
  height: auto;
}

#tsparticles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  animation: fadeIn 1.5s ease-in-out forwards; /* Adjust the duration and easing as needed */
  animation-delay: 1s;
}

#emojiCursor {
  width: 40px;
  height: 40px;
  font-size: 30px;
  position: absolute;
  pointer-events: auto;
  transition: transform 0.1s;
  z-index: 100;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframes for the entrance animation */
@keyframes titleEntrance {
  0% {
    opacity: 0;
    transform: translateY(100vh) scale(0.5);
  }

  40% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
/* Keyframes for the floating animation */
@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.titles {
  font-family: "baby", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

* {
  cursor: var(--cursor);
}

a:hover,
a:focus,
button:hover,
button:focus,
input:hover,
input:focus {
  cursor: var(--cursorHover);
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}
